/* Общие стили для страницы */
html, body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    box-sizing: border-box;
}

/* Стили для всех элементов внутри сетки */
.grid * {
    padding: 10px 15px;
    background-color: rgb(96, 143, 204);
    border: 1px solid rgb(24, 84, 133);
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
}

/* Стили для самой сетки */
.grid {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header header"
        "aside main"
        "aside footer";
}

/* Назначение областей для элементов */
header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}