.querty {
    list-style-type: upper-roman;
    line-height: 1.5;
    color: rgb(241, 0, 0);
    font-weight: normal;
    padding-left: 30px;
    margin: 10px 0;
}

.que {
    list-style-type: armenian;
    color: rgb(60, 63, 5);
    font-weight: 600;
    height: auto;
    width: 360px;
    background-color: rgb(178, 156, 198);
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
}